<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-card">
    <div class="mdl-card__supporting-text">
      <h4><a href="{{partner_url}}">{{partner_title}}</a></h4>

      {{partner_desc}}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button" href="{{partner_url}}" target="_blank">
        {{#partner_button_title}}
          {{partner_button_title}}
        {{/partner_button_title}}
        {{^partner_button_title}}
          {{lang_visit_partner_website}}
        {{/partner_button_title}}
      </a>
    </div>
  </div>
</div>

<div class="mdl-grid" style="justify-content: center;">

{{#sites}}
  <div class="osc-card mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title {{colorClass}} mdl-color-text--white">
      <h2 class="mdl-card__title-text osc-truncate">{{title}}</h2>
    </div>

    <div class="mdl-card__media mdl-color--white">
      <a href="{{url}}" rel="nofollow noopener noreferrer" target="_blank"><img src="{{img_src}}"></a>
    </div>

    <div class="mdl-card__supporting-text" style="display: flex; box-sizing: border-box; align-items: center; width: 100%;">
      <a href="{{parent_category_url}}" class="osc-truncate">{{parent_category_name}}</a>&nbsp;&gt;&nbsp;
      <a href="{{category_url}}" class="osc-truncate">{{category_name}}</a>&nbsp;{{lang_in_country}}&nbsp;
      <a href="{{country_url}}" class="osc-truncate">{{country_name}}</a>
      <div class="mdl-layout-spacer"></div>
      {{! total_likes <i class="material-icons">favorite</i> <!-- add css class mdl-color-text--red for red icon //--> }}
    </div>
  </div>
{{/sites}}

</div>
