{
    "env": {
        "browser": true
    },
    "globals": {
        "$": false,
        "Mustache": false,
        "OSCOM": true
    },
    "rules": {
        "array-bracket-spacing": [2, "never"],
        "block-scoped-var": 2,
        "block-spacing": [2, "always"],
        "brace-style": [2, "1tbs"],
        "camelcase": [1, {"properties": "never"}],
        "comma-dangle": [2, "never"],
        "comma-spacing": [2, {"before": false, "after": true}],
        "comma-style": [2, "last"],
        "curly": [2, "all"],
        "dot-notation": 2,
        "eol-last": 2,
        "eqeqeq": 2,
        "indent": 2,
        "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
        "keyword-spacing": [2, {"before": true, "after": true}],
        "linebreak-style": [2, "unix"],
        "no-catch-shadow": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-extra-semi": 2,
        "no-implicit-globals": 2,
        "no-irregular-whitespace": [2, {"skipComments": true}],
        "no-mixed-spaces-and-tabs": 2,
        "no-multi-spaces": 2,
        "no-obj-calls": 2,
        "no-plusplus": 2,
        "no-shadow": 2,
        "no-shadow-restricted-names": 2,
        "no-sparse-arrays": 2,
        "no-trailing-spaces": 2,
        "no-undef": 2,
        "no-unexpected-multiline": 2,
        "no-unused-vars": 2,
        "object-curly-spacing": [2, "never"],
        "quotes": [2, "single"],
        "semi": [2, "always"],
        "semi-spacing": [2, {"before": false, "after": true}],
        "space-before-blocks": [2, "always"],
        "space-before-function-paren": [2, "never"],
        "space-in-parens": [2, "never"],
        "space-infix-ops": 2,
        "strict": [2, "global"],
        "valid-typeof": 2
    }
}
